<ion-view view-title="Friend">
  <ion-content class="padding">

    <!-- Warning message for unconnected users -->

      <!-- User friends' requests list -->
      <div ng-if="friendsRequest.length > 0" class="animate-if">
        <h2>They want to add you as a friend :</h2>
        <ul>
          <li ng-repeat="f_req in friendsRequest">
            {{f_req.username}}
            <span class="right-aligned">
              <button ion-button icon-only color="secondary"
                      ng-click="acceptRequest(f_req)">
                <!-- TODO icons ne chargent pas -->
                <ion-icon name='ion-person-add'></ion-icon>
                Accept
              </button>
              <button ion-button icon-only color="danger"
                      ng-click="declineRequest(f_req)">
                <!-- TODO icons ne chargent pas -->
                <ion-icon name='ion-ios-close-outline'></ion-icon>
                Decline
              </button>
            </span>
          </li>
        </ul>
      </div>

      <!-- User friends' list -->
      <div>
        <h2>My friends :</h2>
        <!-- Search Bar to add new friends -->
        <div>
          <form ng-submit="addRequest()">
            <input type="text" name="friendName" ng-model="futureFriend.username" placeholder="Add a friend">
          </form>
          <div ng-if="futureFriend.requestSend == true" class="anime-if">
            Request successfully send to {{futureFriend.username}}.
          </div>
          <div ng-if="futureFriend.requestSend == false" class="anime-if">
            Request coud not be send to {{futureFriend.username}}.
          </div>
        </div>
        <ul>
          <li ng-repeat="f in friends">
            {{f.username}}
            <button ion-button icon-only color="danger" class="right-aligned" ng-click="delete(f_req)">
    </div>
  </ion-content>
</ion-view>
